footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .footer-social-icon {
  display: inline-flex;
  align-items: center;
  color: var(--text-color, #333);
}

footer .footer-social-icon svg {
  width: 20px;
  height: 20px;
}

footer .footer-logo {
  display: inline-block;
}

footer .footer-logo svg {
  width: 32px;
  height: 32px;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
